/*COLOURS*/

/*text*/
$primary-blue: hsl(238, 29%, 16%);
$primary-soft-red: hsl(14, 88%, 65%);
$neutral-dark-gray: hsl(237, 12%, 33%);
$neutral-gray: hsl(240, 6%, 50%);

/*gradient*/
$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);

/*dividers*/
$neutral-light-blue: hsl(240, 5%, 91%);
